# Exercise 4 from the intro to python gis course
https://github.com/AutoGIS-2017/Exercise-4

In [7]:
import geopandas as gpd
import pandas as pd
from geopandas.tools import geocode
import pandas as pd
from shapely.geometry import Point, LineString, Polygon
import fiona

## Problem 1: Join accessibility datasets into a grid and visualize them by using a classifier (6 points)

**Steps:**

 - Download a dataset from [**here**](https://github.com/Automating-GIS-processes/Lesson-4-Classification-overlay/raw/master/data/dataE4.zip) that includes 7 text files containing data about accessibility in Helsinki Region and a Shapefile that contains a Polygon grid that can be used to visualize and analyze the data spatially. The datasets are:
 
     - `travel_times_to_[XXXXXXX]_[NAME-OF-THE-CENTER].txt` including travel times and road network distances to specific shopping center
     - `MetropAccess_YKR_grid_EurefFIN.shp` including the Polygon grid with YKR_ID column that can be used to join the grid with the    accessibility data

 - Read those travel_time data files (one by one) with Pandas and select only following columns from them:
    
    - pt_r_tt
    - car_r_t
    - from_id
    - to_id
  
 - Visualize the **classified** travel times (Public transport AND Car) of at least one of the shopping centers using the classification methods that we went through in the [lesson materials](https://automating-gis-processes.github.io/2017/lessons/L4/reclassify.html). You need to classify the data into a new column in your GeoDataFrame. For classification, you can either:
 
    - Use the [common classifiers from pysal](https://automating-gis-processes.github.io/2017/lessons/L4/reclassify.html#classification-based-on-common-classifiers)
 
    - Or create your own [custom classifier](https://automating-gis-processes.github.io/2017/lessons/L4/reclassify.html#creating-a-custom-classifier). If you create your own, remember to document it well how it works! Write a general description of it and comment your code as well.
 
 - Upload the map(s) you have visualized into your own Exercise 4 repository (they don't need to be pretty). If visualizing takes for ever (as computer instance can be a bit slow), it is enough that you visualize only one map using plotting in Geopandas. If it is really slow, you can do the visualization also using the QuantumGIS in the computer instance or even ArcGIS in the GIS-lab.

In [42]:
stores = ['5878070_Jumbo', '5878087_Dixi', '5902043_Myyrmanni', '5944003_Itis', '5975373_Forum', '5978593_Iso_omena', '5980260_Ruoholahti']
stores_files = ['TravelTimes_to_' + storeName + '.txt' for storeName in stores]
stores_dfs = [x for x in range(len(stores))]

for i in range(len(stores)):
    store_df = pd.read_csv('./dataE4/' + stores_files[i], delimiter=';')
    store_df = store_df[['pt_r_tt','car_r_t','from_id','to_id']]
    stores_dfs[i] = store_df
    
stores_dfs[1].head()

   from_id    to_id  walk_t  walk_d  car_r_t  car_r_d  car_m_t  car_m_d  \
0  5785640  5878070     318   22279       39    23233       34    23233
1  5785641  5878070     281   19662       39    23444       34    23444
2  5785642  5878070     282   19742       45    17666       41    17666
3  5785643  5878070     286   20034       46    24695       40    24698
4  5787544  5878070     311   21789       38    22807       33    22807

   pt_r_t  pt_r_tt  pt_r_d  pt_m_t  pt_m_tt  pt_m_d
0     101      131   24276     106      138   22627
1     108      129   26134     109      137   22833
2     109      129   26251     111      137   22951
3     114      138   26544     115      141   23244
4      98      115   25438      90      113   22138
   from_id    to_id  walk_t  walk_d  car_r_t  car_r_d  car_m_t  car_m_d  \
0  5785640  5878087     350   24513       45    27882       40    27890
1  5785641  5878087     321   22438       45    28093       40    28100
2  5785642  5878087     322   22518       52    22575       46    22583
3  5785643  5878087     326   22811       48    23991       41    23992
4  5787544  5878087     343   24024       44    27456       39    27464

   pt_r_t  pt_r_tt  pt_r_d  pt_m_t  pt_m_tt  pt_m_d
0     102      134   27566     114      145   30241
1     109      130   30447     117      143   30447
2     111      130   30564     119      144   30564
3     115      140   30857     123      148   30857
4      99      118   29751      98      121   27077
   from_id    to_id  walk_t  walk_d  car_r_t  car_r_d  car_m_t  car_m_d  \
0  5785640  5902043     295   20668       39    22321       35    22321
1  5785641  5902043     258   18052       39    22532       35    22532
2  5785642  5902043     259   18131       47    22216       42    20440
3  5785643  5902043     263   18424       51    24773       46    22996
4  5787544  5902043     288   20179       38    21895       34    21895

   pt_r_t  pt_r_tt  pt_r_d  pt_m_t  pt_m_tt  pt_m_d
0      90      121   21119      98      129   21119
1      93      115   21325     101      127   21325
2      95      115   21443     103      128   21443
3      99      126   21736     107      132   21736
4      83      103   20630      91      108   20630
   from_id    to_id  walk_t  walk_d  car_r_t  car_r_d  car_m_t  car_m_d  \
0  5785640  5944003     494   34582       50    36229       44    36229
1  5785641  5944003     457   31966       51    36439       45    36439
2  5785642  5944003     458   32046       58    35841       52    34064
3  5785643  5944003     462   32338       57    37723       50    37935
4  5787544  5944003     487   34093       50    35803       44    35803

   pt_r_t  pt_r_tt  pt_r_d  pt_m_t  pt_m_tt  pt_m_d
0     132      157   38465     142      173   38465
1     135      154   38671     145      171   38671
2     137      154   38789     147      172   38789
3     141      163   39082     151      176   39082
4     125      142   37976     122      148   37786
   from_id    to_id  walk_t  walk_d  car_r_t  car_r_d  car_m_t  car_m_d  \
0  5785640  5975373     456   31918       49    31947       44    31985
1  5785641  5975373     419   29302       49    32158       44    32196
2  5785642  5975373     420   29381       57    31560       51    29821
3  5785643  5975373     424   29674       60    34116       55    32377
4  5787544  5975373     449   31429       48    31522       43    31559

   pt_r_t  pt_r_tt  pt_r_d  pt_m_t  pt_m_tt  pt_m_d
0     110      137   32758     118      149   32758
1     113      134   32964     121      147   32964
2     115      134   33082     123      148   33082
3     119      144   33375     127      152   33375
4     103      121   32269     111      128   32269
   from_id    to_id  walk_t  walk_d  car_r_t  car_r_d  car_m_t  car_m_d  \
0  5785640  5978593     490   34268       56    41625       49    41625
1  5785641  5978593     469   32858       56    41836       49    41836
2  5785642  5978593     471   32937       64    41238       56    39461
3  5785643  5978593     475   33230       67    43794       60    42018
4  5787544  5978593     483   33778       55    41200       48    41200

   pt_r_t  pt_r_tt  pt_r_d  pt_m_t  pt_m_tt  pt_m_d
0     141      166   44625     149      176   44624
1     143      164   44831     151      176   44830
2     145      164   44948     153      178   44947
3     149      174   45242     157      182   45240
4     134      150   44136     142      158   44134
   from_id    to_id  walk_t  walk_d  car_r_t  car_r_d  car_m_t  car_m_d  \
0  5785640  5980260     468   32784       56    33768       49    33805
1  5785641  5980260     431   30168       56    33979       49    34016
2  5785642  5980260     432   30247       63    33380       56    31641
3  5785643  5980260     436   30540       67    35937       60    34198
4  5787544  5980260     461   32295       55    33342       48    33380

   pt_r_t  pt_r_tt  pt_r_d  pt_m_t  pt_m_tt  pt_m_d
0     118      147   34474     125      156   34474
1     121      142   34680     128      155   34680
2     123      142   34797     130      156   34797
3     127      153   35090     134      160   35090
4     111      130   33984     118      135   33984

   pt_r_tt  car_r_t  from_id    to_id
0      134       45  5785640  5878087
1      130       45  5785641  5878087
2      130       52  5785642  5878087
3      140       48  5785643  5878087
4      118       44  5787544  5878087

In [30]:
def relativePublicTransitToCar(row, output_col):
    if row['car_r_t'] == 0:
        pttToCar = None
    else:        
        pttToCar = row['pt_r_tt'] / row['car_r_t']
    row[output_col] = pttToCar

In [31]:
exampleStoreDF = stores_dfs[0]
exampleStoreDF['publicTransitToCarTime'] = None
exampleStoreDF = exampleStoreDF.apply(relativePublicTransitToCar, output_col='publicTransitToCarTime', axis=1)

In [40]:
data = gpd.read_file('./dataE4/MetropAccess_YKR_grid_EurefFIN.shp')
data.head()

,x,y,YKR_ID,geometry
0,381875.0,6697880.0,5785640,"POLYGON ((382000.0001388059 6697750.000128186,..."
1,382125.0,6697880.0,5785641,"POLYGON ((382250.00013875 6697750.000128181, 3..."
2,382375.0,6697880.0,5785642,"POLYGON ((382500.0001386951 6697750.000128172,..."
3,382625.0,6697880.0,5785643,"POLYGON ((382750.0001386406 6697750.000128165,..."
4,381125.0,6697630.0,5787544,"POLYGON ((381250.000138978 6697500.000128254, ..."

## Problem 2: Calculate and visualize the dominance areas of shopping centers (9 points)

In this problem, the aim is to define the dominance area for each of those shopping centers based on travel time. 

How you could proceed with the given problem is: 

 - iterate over the accessibility files one by one
 - rename the travel time columns so that they can be identified 
   - you can include e.g. the `to_id` number as part of the column name (then the column name could be e.g. "pt_r_tt_5987221")
 - Join those columns into MetropAccess_YKR_grid_EurefFIN.shp where `YKR_ID` in the grid corresponds to `from_id` in the travel time data file. At the end you should have a GeoDataFrame with different columns show the travel times to different shopping centers.
 - For each row find out the **minimum** value of **all** pt_r_tt_XXXXXX columns and insert that value into a new column called `min_time_pt`. You can now also parse the `to_id` value from the column name (i.e. parse the last number-series from the column text) that had the minimum travel time value and insert that value **as a number** into a column called `dominant_service`. In this, way are able to determine the "closest" shopping center for each grid cell and visualize it either by travel times or by using the `YKR_ID` number of the shopping center (i.e. that number series that was used in column name).
 - Visualize the travel times of our `min_time_pt` column using a [common classifier from pysal](https://automating-gis-processes.github.io/2017/lessons/L4/reclassify.html#classification-based-on-common-classifiers) (you can choose which one).
 - Visualize also the values in `dominant_service` column (no need to use any specific classifier). Notice that the value should be a number. If it is still as text, you need to convert it first.
 - Upload the map(s) you have visualized into your own Exercise 4 repository (they don't need to be pretty).

## Problem 3: How many people live under the dominance area of each shopping center? (5 points)

Take advantage of the materials last week and find out how many people live under the dominance area of each shopping center. You should first [aggregate](file:///D:/KOODIT/Opetus/Automating-GIS-processes/AutoGIS-Sphinx/build/html/Lesson4-geometric-operations.html#aggregating-data) your dominance areas into a unified geometries using [`dissolve()`](http://geopandas.org/aggregation_with_dissolve.html#dissolve-example) -function in Geopandas.